Trabalho04/Client/TravelAgencyClient/TravelAgencyClient/Web References/localhost/TravelAgencyServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tas.sd.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TravelAgencyServiceImplService" targetNamespace="http://tas.sd.br/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:9901/TravelAgencyService?xsd=1" namespace="http://tas.sd.br/" />
    </xsd:schema>
  </types>
  <message name="registerPackageInterest">
    <part name="parameters" element="tns:registerPackageInterest" />
  </message>
  <message name="registerPackageInterestResponse">
    <part name="parameters" element="tns:registerPackageInterestResponse" />
  </message>
  <message name="notifyAccommodationInterests">
    <part name="parameters" element="tns:notifyAccommodationInterests" />
  </message>
  <message name="notifyAccommodationInterestsResponse">
    <part name="parameters" element="tns:notifyAccommodationInterestsResponse" />
  </message>
  <message name="unregisterPackageInterest">
    <part name="parameters" element="tns:unregisterPackageInterest" />
  </message>
  <message name="unregisterPackageInterestResponse">
    <part name="parameters" element="tns:unregisterPackageInterestResponse" />
  </message>
  <message name="notifyPackageInterests">
    <part name="parameters" element="tns:notifyPackageInterests" />
  </message>
  <message name="notifyPackageInterestsResponse">
    <part name="parameters" element="tns:notifyPackageInterestsResponse" />
  </message>
  <message name="notifyTicketsInterests">
    <part name="parameters" element="tns:notifyTicketsInterests" />
  </message>
  <message name="notifyTicketsInterestsResponse">
    <part name="parameters" element="tns:notifyTicketsInterestsResponse" />
  </message>
  <message name="unregisterAccommodationInterest">
    <part name="parameters" element="tns:unregisterAccommodationInterest" />
  </message>
  <message name="unregisterAccommodationInterestResponse">
    <part name="parameters" element="tns:unregisterAccommodationInterestResponse" />
  </message>
  <message name="registerPassageInterest">
    <part name="parameters" element="tns:registerPassageInterest" />
  </message>
  <message name="registerPassageInterestResponse">
    <part name="parameters" element="tns:registerPassageInterestResponse" />
  </message>
  <message name="searchHotelByCity">
    <part name="parameters" element="tns:searchHotelByCity" />
  </message>
  <message name="searchHotelByCityResponse">
    <part name="parameters" element="tns:searchHotelByCityResponse" />
  </message>
  <message name="insertPassageEntry">
    <part name="parameters" element="tns:insertPassageEntry" />
  </message>
  <message name="insertPassageEntryResponse">
    <part name="parameters" element="tns:insertPassageEntryResponse" />
  </message>
  <message name="registerHotelInterest">
    <part name="parameters" element="tns:registerHotelInterest" />
  </message>
  <message name="registerHotelInterestResponse">
    <part name="parameters" element="tns:registerHotelInterestResponse" />
  </message>
  <message name="getTicketInterestList">
    <part name="parameters" element="tns:getTicketInterestList" />
  </message>
  <message name="getTicketInterestListResponse">
    <part name="parameters" element="tns:getTicketInterestListResponse" />
  </message>
  <message name="getAccommodationInterestList">
    <part name="parameters" element="tns:getAccommodationInterestList" />
  </message>
  <message name="getAccommodationInterestListResponse">
    <part name="parameters" element="tns:getAccommodationInterestListResponse" />
  </message>
  <message name="getPackageInterestList">
    <part name="parameters" element="tns:getPackageInterestList" />
  </message>
  <message name="getPackageInterestListResponse">
    <part name="parameters" element="tns:getPackageInterestListResponse" />
  </message>
  <message name="searchHotelByName">
    <part name="parameters" element="tns:searchHotelByName" />
  </message>
  <message name="searchHotelByNameResponse">
    <part name="parameters" element="tns:searchHotelByNameResponse" />
  </message>
  <message name="loadDBHotels">
    <part name="parameters" element="tns:loadDBHotels" />
  </message>
  <message name="loadDBHotelsResponse">
    <part name="parameters" element="tns:loadDBHotelsResponse" />
  </message>
  <message name="searchPassages">
    <part name="parameters" element="tns:searchPassages" />
  </message>
  <message name="searchPassagesResponse">
    <part name="parameters" element="tns:searchPassagesResponse" />
  </message>
  <message name="loadDBPassages">
    <part name="parameters" element="tns:loadDBPassages" />
  </message>
  <message name="loadDBPassagesResponse">
    <part name="parameters" element="tns:loadDBPassagesResponse" />
  </message>
  <message name="insertHotelEntry">
    <part name="parameters" element="tns:insertHotelEntry" />
  </message>
  <message name="insertHotelEntryResponse">
    <part name="parameters" element="tns:insertHotelEntryResponse" />
  </message>
  <message name="reserveHotel">
    <part name="parameters" element="tns:reserveHotel" />
  </message>
  <message name="reserveHotelResponse">
    <part name="parameters" element="tns:reserveHotelResponse" />
  </message>
  <message name="buyPassage">
    <part name="parameters" element="tns:buyPassage" />
  </message>
  <message name="buyPassageResponse">
    <part name="parameters" element="tns:buyPassageResponse" />
  </message>
  <message name="buyPackage">
    <part name="parameters" element="tns:buyPackage" />
  </message>
  <message name="buyPackageResponse">
    <part name="parameters" element="tns:buyPackageResponse" />
  </message>
  <message name="searchPackages">
    <part name="parameters" element="tns:searchPackages" />
  </message>
  <message name="searchPackagesResponse">
    <part name="parameters" element="tns:searchPackagesResponse" />
  </message>
  <message name="unregisterTicketInterestByFlightTicket">
    <part name="parameters" element="tns:unregisterTicketInterestByFlightTicket" />
  </message>
  <message name="unregisterTicketInterestByFlightTicketResponse">
    <part name="parameters" element="tns:unregisterTicketInterestByFlightTicketResponse" />
  </message>
  <message name="notifyPackageInterestsByAccommodation">
    <part name="parameters" element="tns:notifyPackageInterestsByAccommodation" />
  </message>
  <message name="notifyPackageInterestsByAccommodationResponse">
    <part name="parameters" element="tns:notifyPackageInterestsByAccommodationResponse" />
  </message>
  <portType name="TravelAgencyService">
    <operation name="registerPackageInterest">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/registerPackageInterestRequest" message="tns:registerPackageInterest" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/registerPackageInterestResponse" message="tns:registerPackageInterestResponse" />
    </operation>
    <operation name="notifyAccommodationInterests">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/notifyAccommodationInterestsRequest" message="tns:notifyAccommodationInterests" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/notifyAccommodationInterestsResponse" message="tns:notifyAccommodationInterestsResponse" />
    </operation>
    <operation name="unregisterPackageInterest">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/unregisterPackageInterestRequest" message="tns:unregisterPackageInterest" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/unregisterPackageInterestResponse" message="tns:unregisterPackageInterestResponse" />
    </operation>
    <operation name="notifyPackageInterests">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/notifyPackageInterestsRequest" message="tns:notifyPackageInterests" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/notifyPackageInterestsResponse" message="tns:notifyPackageInterestsResponse" />
    </operation>
    <operation name="notifyTicketsInterests">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/notifyTicketsInterestsRequest" message="tns:notifyTicketsInterests" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/notifyTicketsInterestsResponse" message="tns:notifyTicketsInterestsResponse" />
    </operation>
    <operation name="unregisterAccommodationInterest">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/unregisterAccommodationInterestRequest" message="tns:unregisterAccommodationInterest" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/unregisterAccommodationInterestResponse" message="tns:unregisterAccommodationInterestResponse" />
    </operation>
    <operation name="registerPassageInterest">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/registerPassageInterestRequest" message="tns:registerPassageInterest" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/registerPassageInterestResponse" message="tns:registerPassageInterestResponse" />
    </operation>
    <operation name="searchHotelByCity">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/searchHotelByCityRequest" message="tns:searchHotelByCity" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/searchHotelByCityResponse" message="tns:searchHotelByCityResponse" />
    </operation>
    <operation name="insertPassageEntry">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/insertPassageEntryRequest" message="tns:insertPassageEntry" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/insertPassageEntryResponse" message="tns:insertPassageEntryResponse" />
    </operation>
    <operation name="registerHotelInterest">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/registerHotelInterestRequest" message="tns:registerHotelInterest" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/registerHotelInterestResponse" message="tns:registerHotelInterestResponse" />
    </operation>
    <operation name="getTicketInterestList">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/getTicketInterestListRequest" message="tns:getTicketInterestList" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/getTicketInterestListResponse" message="tns:getTicketInterestListResponse" />
    </operation>
    <operation name="getAccommodationInterestList">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/getAccommodationInterestListRequest" message="tns:getAccommodationInterestList" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/getAccommodationInterestListResponse" message="tns:getAccommodationInterestListResponse" />
    </operation>
    <operation name="getPackageInterestList">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/getPackageInterestListRequest" message="tns:getPackageInterestList" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/getPackageInterestListResponse" message="tns:getPackageInterestListResponse" />
    </operation>
    <operation name="searchHotelByName">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/searchHotelByNameRequest" message="tns:searchHotelByName" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/searchHotelByNameResponse" message="tns:searchHotelByNameResponse" />
    </operation>
    <operation name="loadDBHotels">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/loadDBHotelsRequest" message="tns:loadDBHotels" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/loadDBHotelsResponse" message="tns:loadDBHotelsResponse" />
    </operation>
    <operation name="searchPassages">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/searchPassagesRequest" message="tns:searchPassages" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/searchPassagesResponse" message="tns:searchPassagesResponse" />
    </operation>
    <operation name="loadDBPassages">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/loadDBPassagesRequest" message="tns:loadDBPassages" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/loadDBPassagesResponse" message="tns:loadDBPassagesResponse" />
    </operation>
    <operation name="insertHotelEntry">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/insertHotelEntryRequest" message="tns:insertHotelEntry" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/insertHotelEntryResponse" message="tns:insertHotelEntryResponse" />
    </operation>
    <operation name="reserveHotel">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/reserveHotelRequest" message="tns:reserveHotel" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/reserveHotelResponse" message="tns:reserveHotelResponse" />
    </operation>
    <operation name="buyPassage">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/buyPassageRequest" message="tns:buyPassage" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/buyPassageResponse" message="tns:buyPassageResponse" />
    </operation>
    <operation name="buyPackage">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/buyPackageRequest" message="tns:buyPackage" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/buyPackageResponse" message="tns:buyPackageResponse" />
    </operation>
    <operation name="searchPackages">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/searchPackagesRequest" message="tns:searchPackages" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/searchPackagesResponse" message="tns:searchPackagesResponse" />
    </operation>
    <operation name="unregisterTicketInterestByFlightTicket">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/unregisterTicketInterestByFlightTicketRequest" message="tns:unregisterTicketInterestByFlightTicket" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/unregisterTicketInterestByFlightTicketResponse" message="tns:unregisterTicketInterestByFlightTicketResponse" />
    </operation>
    <operation name="notifyPackageInterestsByAccommodation">
      <input wsam:Action="http://tas.sd.br/TravelAgencyService/notifyPackageInterestsByAccommodationRequest" message="tns:notifyPackageInterestsByAccommodation" />
      <output wsam:Action="http://tas.sd.br/TravelAgencyService/notifyPackageInterestsByAccommodationResponse" message="tns:notifyPackageInterestsByAccommodationResponse" />
    </operation>
  </portType>
  <binding name="TravelAgencyServiceImplPortBinding" type="tns:TravelAgencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registerPackageInterest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="notifyAccommodationInterests">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unregisterPackageInterest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="notifyPackageInterests">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="notifyTicketsInterests">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unregisterAccommodationInterest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registerPassageInterest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchHotelByCity">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertPassageEntry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registerHotelInterest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTicketInterestList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAccommodationInterestList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPackageInterestList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchHotelByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="loadDBHotels">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchPassages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="loadDBPassages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertHotelEntry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reserveHotel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buyPassage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buyPackage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchPackages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unregisterTicketInterestByFlightTicket">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="notifyPackageInterestsByAccommodation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TravelAgencyServiceImplService">
    <port name="TravelAgencyServiceImplPort" binding="tns:TravelAgencyServiceImplPortBinding">
      <soap:address location="http://localhost:9901/TravelAgencyService" />
    </port>
  </service>
</definitions>