Trabalho04/Client/TravelAgencyClient/TravelAgencyClient/Web References/localhost/TravelAgencyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tas.sd.br/" targetNamespace="http://tas.sd.br/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buyPackage" type="tns:buyPackage" />
  <xs:element name="buyPackageResponse" type="tns:buyPackageResponse" />
  <xs:element name="buyPassage" type="tns:buyPassage" />
  <xs:element name="buyPassageResponse" type="tns:buyPassageResponse" />
  <xs:element name="getAccommodationInterestList" type="tns:getAccommodationInterestList" />
  <xs:element name="getAccommodationInterestListResponse" type="tns:getAccommodationInterestListResponse" />
  <xs:element name="getPackageInterestList" type="tns:getPackageInterestList" />
  <xs:element name="getPackageInterestListResponse" type="tns:getPackageInterestListResponse" />
  <xs:element name="getTicketInterestList" type="tns:getTicketInterestList" />
  <xs:element name="getTicketInterestListResponse" type="tns:getTicketInterestListResponse" />
  <xs:element name="insertHotelEntry" type="tns:insertHotelEntry" />
  <xs:element name="insertHotelEntryResponse" type="tns:insertHotelEntryResponse" />
  <xs:element name="insertPassageEntry" type="tns:insertPassageEntry" />
  <xs:element name="insertPassageEntryResponse" type="tns:insertPassageEntryResponse" />
  <xs:element name="loadDBHotels" type="tns:loadDBHotels" />
  <xs:element name="loadDBHotelsResponse" type="tns:loadDBHotelsResponse" />
  <xs:element name="loadDBPassages" type="tns:loadDBPassages" />
  <xs:element name="loadDBPassagesResponse" type="tns:loadDBPassagesResponse" />
  <xs:element name="registerHotelInterest" type="tns:registerHotelInterest" />
  <xs:element name="registerHotelInterestByCity" type="tns:registerHotelInterestByCity" />
  <xs:element name="registerHotelInterestByCityResponse" type="tns:registerHotelInterestByCityResponse" />
  <xs:element name="registerHotelInterestByHotel" type="tns:registerHotelInterestByHotel" />
  <xs:element name="registerHotelInterestByHotelResponse" type="tns:registerHotelInterestByHotelResponse" />
  <xs:element name="registerHotelInterestResponse" type="tns:registerHotelInterestResponse" />
  <xs:element name="registerPackageInterest" type="tns:registerPackageInterest" />
  <xs:element name="registerPackageInterestResponse" type="tns:registerPackageInterestResponse" />
  <xs:element name="registerPassageInterest" type="tns:registerPassageInterest" />
  <xs:element name="registerPassageInterestResponse" type="tns:registerPassageInterestResponse" />
  <xs:element name="reserveHotel" type="tns:reserveHotel" />
  <xs:element name="reserveHotelResponse" type="tns:reserveHotelResponse" />
  <xs:element name="searchHotelByCity" type="tns:searchHotelByCity" />
  <xs:element name="searchHotelByCityResponse" type="tns:searchHotelByCityResponse" />
  <xs:element name="searchHotelByName" type="tns:searchHotelByName" />
  <xs:element name="searchHotelByNameResponse" type="tns:searchHotelByNameResponse" />
  <xs:element name="searchPackages" type="tns:searchPackages" />
  <xs:element name="searchPackagesResponse" type="tns:searchPackagesResponse" />
  <xs:element name="searchPassages" type="tns:searchPassages" />
  <xs:element name="searchPassagesResponse" type="tns:searchPassagesResponse" />
  <xs:complexType name="registerPackageInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:flightTicket" />
      <xs:element minOccurs="0" name="arg1" type="tns:flightTicket" />
      <xs:element minOccurs="0" name="arg2" type="tns:accommodation" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:float" />
      <xs:element name="arg5" type="xs:int" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flightTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="source" type="xs:string" />
      <xs:element minOccurs="0" name="dest" type="xs:string" />
      <xs:element name="dateDay" type="xs:int" />
      <xs:element name="dateMonth" type="xs:int" />
      <xs:element name="dateYear" type="xs:int" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element name="price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accommodation">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="accommodationName" type="xs:string" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element name="maxGuestsPerRoom" type="xs:int" />
      <xs:element name="price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerPackageInterestResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTicketInterestList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTicketInterestListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:flightTicketInterest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flightTicketInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="citySource" type="xs:string" />
      <xs:element minOccurs="0" name="cityDest" type="xs:string" />
      <xs:element name="returnTicket" type="xs:boolean" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element name="maxPrice" type="xs:float" />
      <xs:element name="goingDay" type="xs:int" />
      <xs:element name="goingMonth" type="xs:int" />
      <xs:element name="goingYear" type="xs:int" />
      <xs:element name="returnDay" type="xs:int" />
      <xs:element name="returnMonth" type="xs:int" />
      <xs:element name="returnYear" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertHotelEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertHotelEntryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAccommodationInterestList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAccommodationInterestListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:accommodationInterest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accommodationInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityName" type="xs:string" />
      <xs:element minOccurs="0" name="accommodationName" type="xs:string" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element name="numberOfGuests" type="xs:int" />
      <xs:element name="maxPrice" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPassageEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
      <xs:element name="arg6" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPassageEntryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchPackages">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:boolean" />
      <xs:element name="arg6" type="xs:int" />
      <xs:element name="arg7" type="xs:int" />
      <xs:element name="arg8" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchPackagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:packages" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="packages">
    <xs:sequence>
      <xs:element minOccurs="0" name="flightTicketGoing" type="tns:flightTicket" />
      <xs:element minOccurs="0" name="flightTicketReturn" type="tns:flightTicket" />
      <xs:element minOccurs="0" name="accommodation" type="tns:accommodation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyPassage">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
      <xs:element name="arg6" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyPassageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerHotelInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerHotelInterestResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buyPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
      <xs:element name="arg6" type="xs:boolean" />
      <xs:element name="arg7" type="xs:int" />
      <xs:element name="arg8" type="xs:int" />
      <xs:element name="arg9" type="xs:int" />
      <xs:element name="arg10" type="xs:float" />
      <xs:element name="arg11" type="xs:float" />
      <xs:element name="arg12" type="xs:float" />
      <xs:element name="arg13" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyPackageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPackageInterestList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getPackageInterestListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:packageInterest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="packageInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="flightTicketTo" type="tns:flightTicket" />
      <xs:element minOccurs="0" name="flightTicketFrom" type="tns:flightTicket" />
      <xs:element name="returnTicket" type="xs:boolean" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element name="maxPrice" type="xs:float" />
      <xs:element minOccurs="0" name="accommodation" type="tns:accommodation" />
      <xs:element name="numberOfGuests" type="xs:int" />
      <xs:element minOccurs="0" name="clientName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerHotelInterestByHotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerHotelInterestByHotelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchHotelByCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchHotelByCityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accommodationManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accommodationManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accommodationList" nillable="true" type="tns:accommodation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadDBPassages">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="loadDBPassagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:flightTicketManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flightTicketManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="flightTicketList" nillable="true" type="tns:flightTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerHotelInterestByCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerHotelInterestByCityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerPassageInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:boolean" />
      <xs:element name="arg6" type="xs:int" />
      <xs:element name="arg7" type="xs:int" />
      <xs:element name="arg8" type="xs:int" />
      <xs:element name="arg9" type="xs:int" />
      <xs:element name="arg10" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerPassageInterestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loadDBHotels">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="loadDBHotelsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accommodationManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserveHotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reserveHotelResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchPassages">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchPassagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:flightTicketManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchHotelByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchHotelByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:accommodationManager" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>